body {
  font-family: "Light"; /* 기본 폰트 설정 */
}
.aboutContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.aboutColor {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: #819ff7;
  color: black;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 0;
  margin-bottom: 2px;
  font-size: 20px;
}

.aboutMeBox {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.aboutList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
  padding: 0;
}
.aboutLi {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 33%;
  gap: 10px;
}

.skillColor {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: #ffbf00;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px 0;
}

.skillContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.Tools {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 10px;
}

.whiteToolBox {
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid black;
  color: black;
}

.skillName {
  box-sizing: border-box;
  border-bottom: 1px solid #ffbf00;
}

.archivingColor {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: black;
  color: wheat;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 0;
  margin-bottom: 2px;
}

.archivingContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.archivingWhiteBox {
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid black;
  color: black;
  width: 40%;
}
