.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}
.text {
  font-size: 10em;
  position: absolute;
  opacity: 0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* 애니메이션 효과 정의 */
@keyframes moveLeftToCenter {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes moveRightToCenter {
  0% {
    right: -100%;
    opacity: 0;
  }
  50% {
    right: 50%;
    opacity: 1;
    transform: translateX(50%);
  }
  100% {
    right: 50%;
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes myName {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 이건 밑줄 */
@keyframes underlineExpand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 각각의 애니메이션 적용 클래스 */
.leftToCenter {
  animation-name: moveLeftToCenter;
}

.rightToCenter {
  animation-name: moveRightToCenter;
}

.myName {
  animation-name: myName;
}

/* 밑줄 애니메이션 추가 */
.myName::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 5px;
  width: 0;
  background-color: white;
  animation: underlineExpand 1s forwards;
  animation-delay: 2s; /* 밑줄 애니메이션 딜레이 */
}

/* 버튼 박스 및 버튼 스타일 */
.buttonBox {
  display: flex;
  padding: 0 25vw;
  justify-content: space-between;
  padding-bottom: 10vw;
  margin-top: 150px;
  opacity: 0; /* 초기 상태를 숨김 */
  animation: fadeIn 1s forwards;
  animation-delay: 4s; /* 글자 애니메이션 후 버튼 애니메이션 시작 */
  font-size: 7rem;
  align-items: center;
  gap: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.buttonWrapper {
  margin-left: 80px;
  gap: 20px;
}

.buttons {
  transition: 0.5s ease;
  font-size: 5rem;
}

.buttons:hover {
  color: gray;
  cursor: pointer;
}
