.projectContainer {
  margin: 0 2vw;
  display: flex;
  gap: 3vh;
  /* padding-bottom: 4vh; */
  box-sizing: border-box;
  border-top: 2px solid white;
  /* padding-top: 30px; */
}

.imageWrapper {
  display: flex;
  width: 60vw;
  height: 50vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  /* justify-content: center; */
}

.images {
  width: 600px;
}

.introProduction {
  box-sizing: border-box;
  padding-right: 10px;
  border-right: 3px solid white;
  width: 23vw;
  padding-top: 2vh;
}

.explainWrapper {
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.explainWrapper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explainSubject {
  color: aqua;
}
.linkWrapper {
  display: flex;
  /* width: 30%; */
  justify-content: space-around;
  margin-bottom: 2vh;
}
.linkWrapper a {
  color: #01a9db;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.5s;
  box-sizing: border-box;
  border: 1px solid #01a9db;
  border-radius: 5px;
  padding: 10px;
}

.linkWrapper a:hover {
  color: white;
}
