.navContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 10px;
  height: 6vh;
  align-items: center;
  font-family: "Light";
  font-size: 25px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
}
.homeLink {
  font-family: "Bold";
  text-decoration: none;
  font-size: 27px;
  color: black;
}
.linkBox {
  display: flex;
  gap: 20px;
  width: 330px;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: black;
  transition: color 0.5s ease;
}

.link:hover {
  color: gray;
}
